<div class="title-container">
  <h1>Contacts</h1>
  <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }, class: "btn btn-outline-danger" %>
</div>
<div class='link-to-new'>
  <p id="new-contact"><%= link_to 'New Contact', new_contact_path, remote: true, class: "btn btn-primary" %></p>
</div>
<div class="container" id="contacts">
  <table>
    <% @contacts.each do |contact| %>
      <tr class="row contact" id="contacts">
        <div class="col-9">
          <td><%= contact.salutation %></td>
          <td><%= contact.first_name %></td>
          <% if contact.middle_name.present? %>
            <td><%= contact.middle_name %></td>
          <% end %>
          <td><%= contact.last_name %></td>
        </div>
        <div class="col-3">
          <td class="contact-link" id="edit-contact">
            <%= link_to 'View', contact_path(contact), class: "contact-btn btn btn-outline-primary" %> |
            <%= link_to 'Edit', edit_contact_path(contact), remote: true, class: "btn btn-outline-warning" %> |
            <%= link_to 'Delete', contact_path(contact),
                  method: :delete,
                  data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-outline-danger" %>
          </td>
        </div>
      </tr>
    <% end %>
  </table>
</div>

